<div id="view">

<div class="nav">
    <div class="img-logo">
        <img src="../../assets/ggg.svg" alt="">
    </div>
    
    <div class="img-fluid">
      <img src="../../assets/Group 32.svg" alt="">
</div>
</div>

<div class="content">

    <h1> <span><i class="pi pi-chevron-left" ></i></span>Elavarasan</h1>
    <p>Food & Drink</p>
</div>

<div class="show">
    <div class="grid">
        <div class="col-3">
        <p>Date:</p>
        <h6>31 March 2022</h6>
        </div>
        <div class="col-3">
        <p>Expense:</p>
        <h6>3,400</h6>

        </div>
        <div class="col-6">
            <p>image:</p>
            <img src="../../assets/invite_Mesa de trabajo 1 1.svg" alt="">

        </div>
    </div>
</div>



</div>